body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 1000px;
  margin: 50px auto;
}

.list {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: box-shadow .3s ease-in-out;
}

.card:hover {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
}

.card.marked {
  border: 2px solid #dc143c;
}

.card-img {
  display: flex;
  align-items: center;
  height: 150px;
}

.card img {
  width: 100%;
}
